@model testtt.Models.ViewsModels.ProductViewModel

@{
    ViewData["Title"] = "Add Product";
}

<h2>Add Product</h2>

<hr />

<section class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="Add_Product">

            <div class="form-group w-50">
                <label class="text-muted" asp-for="Prod_Name"></label>
                <input type="text" class="form-control" asp-for="Prod_Name" maxlength="100" />
                <span asp-validation-for="Prod_Name" class="text-danger"></span>
            </div>

            <div class="form-group w-50">
                <label class="text-muted" asp-for="Prod_Price"></label>
                <input type="number" class="form-control" asp-for="Prod_Price" />
                <span asp-validation-for="Prod_Price" class="text-danger"></span>
            </div>

            <div class="form-group w-50">
                <label class="text-muted" asp-for="Prod_Stock"></label>
                <input type="number" class="form-control" asp-for="Prod_Stock" />
                <span asp-validation-for="Prod_Stock" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <label class="text-muted" asp-for="Prod_Description"></label>
                <textarea class="form-control" asp-for="Prod_Description" maxlength="2500" rows="5"></textarea>
                <span asp-validation-for="Prod_Description" class="text-danger"></span>
            </div>
        </form>
    </div>
</section>
