@model IEnumerable<Product>   //list of products
@{
	ViewData["Title"] = "Product";
}
<h2>
    <i class="bi bi-flower3"></i> Products
</h2>
<hr/>

<a class="btn btn-primary" asp-action="Add_Product">
    </><i class="bi bi-plus-lg"></i>
	</>Add Product
</a>
<div class="mt-4">
    @if (!Model.Any())  //not found products
    {
        <div class="alert alert-warning" role="alert">
        <i class="bi bi-exclamation-triangle"></i>
            No Products found!
        </div>
    }
    else
    {
        <ul>
            @foreach(var product in Model)
            {
                <li>@product.Prod_Name</li>
            }
        </ul>
    }
</div>
