<head>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<style>
    .card-img-top {
        height: 200px; /* ارتفاع الصورة */
        object-fit: cover; /* لتغطية مساحة الصورة بالكامل داخل العنصر */
    }

    /* تغيير لون زر الإضافة ليكون أخضر */
    .addToCartBtn {
        background-color: #3B5D50; /* لون خلفية الزر */
        border-color: #3B5D50; /* لون حدود الزر */
    }

        /* تغيير لون زر الإضافة عندما يتم التحويل عليه */
        .addToCartBtn:hover {
            background-color: #2E4338; /* لون خلفية الزر عند التحويل عليه */
            border-color: #2E4338; /* لون حدود الزر عند التحويل عليه */
        }
</style>
@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @Model
    </div>
}
