@page
<head>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<style>
    .card-img-top {
        height: 200px; /* ارتفاع الصورة */
        object-fit: cover; /* لتغطية مساحة الصورة بالكامل داخل العنصر */
    }

    /* تغيير لون زر الإضافة ليكون أخضر */
    .addToCartBtn {
        background-color: #3B5D50; /* لون خلفية الزر */
        border-color: #3B5D50; /* لون حدود الزر */
    }

        /* تغيير لون زر الإضافة عندما يتم التحويل عليه */
        .addToCartBtn:hover {
            background-color: #2E4338; /* لون خلفية الزر عند التحويل عليه */
            border-color: #2E4338; /* لون حدود الزر عند التحويل عليه */
        }
</style>
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
