@page
<head>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="~/css/tiny-slider.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<style>
    .card-img-top {
        height: 200px; /* ارتفاع الصورة */
        object-fit: cover; /* لتغطية مساحة الصورة بالكامل داخل العنصر */
    }

    /* تغيير لون زر الإضافة ليكون أخضر */
    .addToCartBtn {
        background-color: #3B5D50; /* لون خلفية الزر */
        border-color: #3B5D50; /* لون حدود الزر */
    }

        /* تغيير لون زر الإضافة عندما يتم التحويل عليه */
        .addToCartBtn:hover {
            background-color: #2E4338; /* لون خلفية الزر عند التحويل عليه */
            border-color: #2E4338; /* لون حدود الزر عند التحويل عليه */
        }
</style>
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="w-100 btn btn-lg btn-danger">Click here to Logout</button>
           
               

            </form>
        }
        else
        {
            <p>You have successfully logged out of the application.</p>
        }
    }
</header>
