@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
<div class="row">
    <div class="col-md-6">
        @* <form id="profile-form" method="post"> *@

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.FirstName" class="form-control" />
            <label asp-for="Input.FirstName" class="form-label"></label>
        </div>
        <div class="form-floating">
            <input asp-for="Input.LastName" class="form-control" />
            <label asp-for="Input.LastName" class="form-label"></label>
        </div>
@*         <div class="form-floating">
            <input asp-for="Input.Address" class="form-control" />
            <label asp-for="Input.Address" class="form-label"></label>
        </div> *@
            @* <div class="form-floating">
                <input asp-for="Input.Cus_ImageUrl" class="form-control" type="file" name="img_file" />
                <label asp-for="Input.Cus_ImageUrl" class="form-label"></label>
            </div> *@
            @* <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div> *@
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        @*</form>*@
    </div>
    <div class="col-md-6">
        <div class="form-floating">

            <label asp-for="Input.Cus_ImageUrl" class="w-100"></label>
                @if (Model.Input.Cus_ImageUrl != null)
                {
                    <img id="profilepicture" alt="" src="@Url.Content($"~/images/{Model.Input.Cus_ImageUrl}")"  style="border-radius:50%; width:100px;height:100px" />
                }
                else
                {
                <img id="profilepicture" alt="" src="~/images/defult_image.jpg" />
                }
            <div class="custom-file mt-2">
                <input type="file"
                       accept="image/*"
                       asp-for="Input.Cus_ImageUrl"
                       class="custome-file-input"
                       onchange="document.getElementById('profilepicture').src=window.URL.createObjectURL(this.files[0])" />

                <label class="custom-file-label" asp-for="Input.Cus_ImageUrl">Choose picture...</label>
                <span asp-validation-for="Input.Cus_ImageUrl" class="text-danger"></span>
            </div>
        </div>
    </div>
 </div>
 </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
